<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mbw.oc.mapper.XxxMapper">
    <!--namespace mapper.xml文件全类名-->
    <!--<select> 查询标签，与之类似的有<update>/<insert>/<delete>-->
    <!--id为dao-->
    <select id="methodName" resultType="Xxx">
        select id,name from user where id = 1;
    </select>
</mapper>