  <!-- 脚部 -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 company-address" style="color: #9fa19e;font-size: 15px">
          <p><a href="http://www.beian.miit.gov.cn" style="color: #9fa19e;font-size: 15px">RA @2013-2019 粤ICP备15106839号-12</a></p>
        </div>
        <a class="col-sm-6" href="javascript:;">
          <div class="concat-img">
            <img src="/assets/image/xinlan1.png" data-src="/assets/image/xinlan.png">
            <div class="con-img">
              <img src="/assets/image/xinlan2.png" alt="">
            </div>
          </div>
          <div class="concat-img">
            <img src="/assets/image/weixin1.png" data-src="/assets/image/weixin.png">
            <div class="con-img">
              <img src="/assets/image/weixin_new2.png" alt="">
            </div>
          </div>
          <div class="concat-img">
            <img src="/assets/image/mobile1.png" data-src="/assets/image/mobile.png">
            <div class="con-img">
              <img src="/assets/image/mobile2.png" alt="">
            </div>
          </div>
          <div class="concat-img">
            <img src="/assets/image/email1.png" data-src="/assets/image/email.png">
            <div class="con-img">
              <img src="/assets/image/email2.png" alt="">
            </div>
          </div>
        </a>
      </div>
    </div>
  </footer>
