<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="header">
        <div class="collapse navbar-collapse" id="navbarsContainer">
            <!--导航栏-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/users}">首页<span class="sr-only" th:text="${username}"></span></a>
                </li>
            </ul>
            <!--登陆用户信息-->
            <div class="row">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-item">
                        <span class="nav-link"></span>
                    </li>
                </ul>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-outline-success" value="退出">
                </form>
            </div>
            <!--登陆-->
            <div>
                <a type="submit" th:href="@{~/login}" class="btn btn-outline-success">登陆</a>
            </div>
        </div>
    </header>
</body>
<script type="text/javascript">
    layui.config({
        base: "/static/layui/js/"
    }).extend({
        index: "../index"
    }).use("element");
</script>
</html>