<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../../static/layui/css/base.css" th:href="@{/static/layui/css/base.css}" rel="stylesheet">
        <link type="text/css" href="../../static/layui/css/admin.css" th:href="@{/static/layui/css/admin.css}" rel="stylesheet">
        <link type="text/css" href="../../static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
        <link type="text/css" href="../../static/layui/css/fastui.css" th:href="@{/static/layui/css/fastui.css}" rel="stylesheet">
        <link type="text/css" href="../../static/layui/css/white.css" th:href="@{/static/layui/css/white.css}" rel="stylesheet">
        <script src="../../static/js/jquery-3.4.1.js" th:src="@{/static/js/jquery-3.4.1.js}"></script>
        <script src="../../static/kindeditor/kindeditor-all.js" th:src="@{/static/kindeditor/kindeditor-all.js}"></script>
        <script src="../../static/layui/layui.js" th:src="@{/static/layui/layui.js}"></script>
    </head>
</html>