<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css?v=2.5.6}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/admin.css" th:href="@{/static/style/admin.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/login.css" th:href="@{/static/style/login.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/dropdown.css" th:href="@{/static/style/dropdown.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/dtree.css" th:href="@{/static/style/dtree.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/template.css" th:href="@{/static/style/template.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/treeTable.css" th:href="@{/static/style/treeTable.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/viewer.css" th:href="@{/static/style/viewer.css?v=1.0.0}"/>
    <link rel="stylesheet" type="text/css" href="../../static/style/fastui.css" th:href="@{/static/style/fastui.css?v=1.0.0}"/>
    <script src="../../static/layui/layui.js" th:src="@{/static/layui/layui.js?v=2.5.6}"  type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        layui.config({
            base: '/static/', //静态资源所在路径
            version: new Date().getTime()
        }).extend({
            index: 'module/index' //主入口模块
        }).use('index');
    </script>
</head>
<body>
    <div class="LAY_app">
        <div class="layui-layout layui-layout-admin">
            <div id="LAY_app">
                <div class="layui-layout layui-layout-admin">
                    <div class="layui-header fastui-header">
                        <!-- 头部区域 -->
                        <ul class="layui-nav layui-layout-left" lay-filter="fastui-nav">
                            <li class="layui-nav-item layui-hide-xs fastui-logo">
                                <img class="" src="../../static/image/logo.png" th:src="@{/static/image/logo.png}"/>
                                <span><strong>财务中台</strong><strong>支出系统</strong></span>
                            </li>
                            <!--shiro:hasPermission="financeCenter:read"-->
                            <li class="layui-nav-item" lay-unselect>
                                <a title="">
                                    <cite>财务中心</cite>
                                </a>
                                <ul class="fastui-nav-child layui-nav-child">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>审批数据</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/approve/collection/index">审批数据汇总</a></li>
                                        <li><a lay-href="/approve/index">审批数据总表</a></li>
                                        <li><a lay-href="/approveDetail/index">审批明细总表</a></li>
                                    </div>
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>分录数据</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/journal/journalHasEntriesIndex">钉钉分录</a></li>
                                        <li><a lay-href="/journal/journalForEntryIndex">待分录</a></li>
                                        <li><a lay-href="/journal/journalNoEntryIndex">未分录</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="layui-nav-item" lay-unselect>
                                <a title="">
                                    <cite>资金中心</cite>
                                </a>
                                <ul class="fastui-nav-child layui-nav-child">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>资金</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/financeFund/index">日记账</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="layui-nav-item" lay-unselect>
                                <a title="">
                                    <cite>数据中心</cite>
                                </a>
                                <ul class="fastui-nav-child layui-nav-child">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>接口</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/dataInterface/index">财务数据获取接口</a></li>
                                    </div>
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>任务</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/task/taskIndex">任务列表</a></li>
                                        <li><a lay-href="/task/journalTask">分录任务</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="layui-nav-item" lay-unselect>
                                <a title="">
                                    <cite>系统管理</cite>
                                </a>
                                <ul class="fastui-nav-child layui-nav-child">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>映射</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/formDict/index">钉钉数据映射</a></li>
                                        <li><a lay-href="/orgAccountSet/index">法人-账套号</a></li>
                                        <li><a lay-href="/departOrg/index">部门-法人</a></li>
                                        <li><a lay-href="/feeTypeCOA/index">费用类型-COA</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="layui-nav-item" lay-unselect>
                                <a title="" href="javascript:;">
                                    <cite>帮助</cite>
                                </a>
                            </li>
                        </ul>
                        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                            <li class="layui-nav-item" lay-unselect>
                                <a title="">
                                    <cite>我的审批</cite>
                                </a>
                                <ul class="fastui-nav-child layui-nav-child">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>审批</legend>
                                    </fieldset>
                                    <div>
                                        <li><a lay-href="/workingApprove/index">待我审批</a></li>
                                        <li><a lay-href="/completedApprove/index">我已审批</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li class="layui-nav-item" lay-unselect>
                                <a layadmin-event="myApp">
                                    我的应用
                                </a>
                            </li>
                            <li class="layui-nav-item" lay-unselect style="margin-right: 20px;">
                                <a href="javascript:;">
                                    <cite>
                                        <img class="fastui-photo" src="../static/image/photo.png" />
                                        马小文
                                        <!--<shiro:user><shiro:principal property="name"/></shiro:user>-->
                                    </cite>
                                </a>
                                <dl class="layui-nav-child fastui-nav-right-child">
                                    <div>
                                        <dd>
                                            <a>直营IT部</a>
                                        </dd>
                                        <dd>
                                            <a href="http://cloud.office.test.legotown.cn:38081">修改密码</a>
                                        </dd>
                                    </div>
                                    <div>
                                        <dd class="fastui-switch-role">
                                            <a><span>切换角色</span><i class="layui-icon layui-icon-triangle-d"></i></a>
                                            <ul class="fastui-role">
                                                <li><a>超级管理员</a></li>
                                                <li><a>系统管理员</a></li>
                                                <li><a>中心主任</a></li>
                                            </ul>
                                        </dd>
                                        <dd style="text-align: center;">
                                            <a href="/api/logout">退出</a>
                                        </dd>
                                    </div>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 页面标签 -->
            <div class="layadmin-pagetabs" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs">
                                    <a href="javascript:;">关闭当前标签页</a>
                                </dd>
                                <dd layadmin-event="closeOtherTabs">
                                    <a href="javascript:;">关闭其它标签页</a>
                                </dd>
                                <dd layadmin-event="closeAllTabs">
                                    <a href="javascript:;">关闭全部标签页</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                </div>
            </div>
            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <div layout:fragment="content"></div>
                </div>
            </div>
            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
    </div>
</body>
</html>