<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/header::sources">
    <title>首页</title>
</head>
<body>
<div th:include="layout/header::header"></div>


<div th:include="layout/footer::footer" class="fastui-footer"></div>
</body>
<script type="text/javascript">
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_id', {
            allowFileManager : true,
            uploadJson : /*[[${@qiniuConfig.getZone()}]]*/'https://upload-z2.qiniup.com',
            filePostName: 'file',
            extraFileUploadParams: {
                token: /*[[${@qiniuConfig.getUploadToken(2)}]]*/'invalidToken',
                'x:dir': 'kindeditor/',
                'x:prefixPath': /*[[${@qiniuConfig.getPublicDomain()}]]*/'invalidPrefix'
            },
        });
    });
</script>
</html>