<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>office-cloud</title>

</head>
<body>
<div class="fastui-screen">
    <div class="fastui-fixed-header">

    </div>
    <div class="fastui-content-style">
        <div class="fastui-dataErro">
            <div class="fastui-erro-html">
                <img class="fastui-erro-url" src="/static/images/500.png"/>
                <p>好晕呀！数据错误了，联系管理员哦!</p>
                <div class="fastui-erro-con">
                    <a href="#">查看错误信息</a>
                    <div class="fastui-erro-show fastui-erro-con-show">${exception!}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(["jquery", "publicfound"], function ($) {
        $(".fastui-erro-con a").click(function () {
            $(".fastui-erro-show").toggle();
        })
    });
</script>
</body>
</html>
