<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>office-cloud</title>

</head>
<body>
<div class="fastui-screen">
    <div class="fastui-fixed-header">

    </div>
    <div class="fastui-content-style">
        <div class="fastui-erro-html">
            <img class="fastui-erro-url" src="/static/images/unfinished.png" alt="开发中">
            <p>功能正在努力开发中,请再等等吧!</p>
        </div>
    </div>
</div>
</body>
</html>
