<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../../../static/vue/css/base.css" th:href="@{/static/vue/css/base.css?v=1.0.0}" rel="stylesheet">
        <script src="../../../static/js/jquery-3.4.1.js" th:src="@{/static/js/jquery-3.4.1.js?v=1.0.0}"></script>
        <script src="../../../static/vue/vue.js" th:src="@{/static/vue/vue.js?v=1.0.0}"></script>
        <script src="../../../static/vue/js/base.js" th:src="@{/static/vue/js/base.js?v=1.0.0}"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
</html>